<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go and htmx Example</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
</head>
<body>
    <div class="relative flex flex-col justify-center overflow-hidden">
        <header class="text-center">
            <div class="w-full flex-row justify-center">
                <div class="navbar bg-base-100 shadow-xl md:rounded-badge mx-auto md:max-w-2xl md:mt-5">
                    <h1>Hello World</h1>
                </div>
            </div>
        </header>
        <h1>Go and htmx Example</h1>
        <form hx-post="/hello" hx-target="#response">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <button type="submit">Submit</button>
        </form>
        <div id="response"></div>
    </div>
</body>
</html>

