<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Go and htmx Example{{end}}</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body class="bg-sky-900 h-full w-full">
    <div class="relative flex flex-col justify-center overflow-hidden">
        {{template "header" .}}
        {{block "content" .}}{{end}}
    </div>
</body>
</html>